#home{
    background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav {
    background-color:#071a39;
    color: aliceblue;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    margin: 0.3%;
    list-style-type:none;
    padding: 2%;
    justify-content: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    transition:.4s ease all;
    margin: 15px;
}

nav a:hover{
    color:aquamarine;
}

.welcome-box {
    font-weight: 250;
    padding: 1%;
    height: 30vh;
    width: 200%;
}

.welcome-box h4  {
    font-size: 2.2rem;
    padding:25% 10% 0 10%;
    justify-content: center;
    text-align: left;
    color: rgb(11, 49, 36);
    line-height: 1.2em;
}

.landing {
    padding-right: 23%;
    height: 100vh;
    display:flex ;
    justify-content:center;
    background-position: center;
    align-items:left;
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    width:fit-content;
    }


.login-box{
    margin-right: -20%;
    margin-top: 10%;
    padding: 5% 0 5% 10%;
    position: relative;
    height: 450px;
    width: 400px;
    justify-content: center;
    align-items:center ;
    border-radius: 20px;
    display:flex ;
    background: transparent;
    outline: 3px solid rgb(24, 57, 57);
}
.login-box form {
    margin-right:125px ;
}

.input-box {
    position:relative;
    width:400px;
    height: 40px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


.input-box input {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    height: 50px;
    font-size: 0.6em;
    color: #fff;
}

.input-box:hover{
    transition: all .5s ease-in-out;
    top: -5px;
}

::placeholder{
    color: aliceblue;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 0.8em;
    line-height: 57px;
}

.remember-forget {
    margin:15px 0 15px;
    font-size: 0.7em;
    color: #fff;
    display: flex;
    justify-content:space-between ;
}

.remember-forget label input {
    margin-right: 3px;
}

.remember-forget a {
    color: #2e06f6;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

button {
    width: 75%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8em;
    color: black;
    font-weight: 500;
}

button:hover{
    background-color:bisque;
}
.register {
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.register a {
    color: #2e06f6;
    text-decoration: none;
    font-weight: 650;
}

.register a:hover{
    text-decoration: underline;
}


@media screen and (max-width:480px) {

    .landing {
        background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg");
        padding: 9% auto ;
        position: relative;
        z-index:-1;
        background-size: cover;
        display: block;
    }
     
    .login-box {
        display: block;
        width:100%; height: 100vh;
    }

    .welcome-box{
        display: block;
    }

}